{{#partial "content"}}
<p>Congratulations! You have successfully created a squad"</p></strong>
        <a class="btn btn-info" href="/newSquad">Check Squad</a>
        {{/partial}}
        {{> layout.hbs}}
