{{#partial "content"}}
<body>
<br>
        <div class="jumbotron" style="border-color: beige;">
<p>"Nice!!A new hero has been assigned to your squad!"</p>
        <a class="btn btn-info" href="/hero">Check Hero</a>
        </div>
        </body>
        {{/partial}}
        {{> layout.hbs}}
