{{#partial "title" }}
Let's create a hero!
{{/partial}}

{{#partial "content"}}
<body style="background-image: url('../public/images/herof.jpeg); background-size:cover; background-repeat:no-repeat;">
<form action="/add/hero" method="post">
<div class="form-group">
<label for="name">Enter the name of the hero:{{name}}</label>
<input id="name" name="name" class="form-control" type="text" required>
</div>
<div class="form-group">
<label for="age">Enter the age of the hero:{{age}}</label>
<input id="age" name="age" class="form-control" type="number" required>
</div>
<div class="form-group">
<label for="power">Enter the special power of the hero:{{power}}</label>
<input id="power" name="power" class="form-control" type="text" required>
</div>
<div class="form-group">
<label for="weakness">Enter the weakness of the hero:{{weakness}}</label>
<input id="weakness" name="weakness" class="form-control" type="text" required>
</div>
<button class="btn btn-success" href="/successhero" type="submit">Submit</button>
</form>
</body>
{{/partial}}

{{> layout.hbs}}

