{{#partial "content"}}

<body style="background-image: url(../public/images/index.jpeg); background-size:cover; background-repeat:no-repeat;" class="container-fluid">
<h1 style="color: mediumvioletred;">Hero-Squad</h1>
    </body>
    {{/partial}}
    {{>layout.hbs}}