{{#partial "content"}}
<body style="background-image: url('../public/images/index.jpeg'); background-size:cover; background-repeat:no-repeat;">

<h1 style="color: mediumvioletred;">Hero-Squad</h1>
<div style="padding: 300px;">
    <a class="btn btn-info" href="/squadform">Create Squad</a>
     <a class="btn btn-info" href="/heroform" style="margin-left:100px;">Create Hero</a>
    </div>
    </body>
    {{/partial}}
    {{>layout.hbs}}