{{#partial "content"}}
        <div>
            <h1>Good job!!Here is your new squad! </h1>
        </div>
        {{#if "squad"}}
                {{#each squad}}
                        <h3>Name: {{name}}</h3>
                        <p>Cause: {{cause}}</p>
                        <p>Size: {{size}}</p>
                {{/each}}
                        {{/if}}
                        <a class="btn btn-info" href="/squadForm">Add Squad</a>
                {{/partial}}

                {{> layout.hbs}}