{{#partial "content"}}
<body>
        <div>
            <h1>Good job!!Here is your new squad! </h1>
        </div>
        {{#if "squad"}}
        <div class="col-md-4">
                {{#each squad}}
                <div class="card" style="background-image: url(../public/images/squad.jpeg); background-size:cover; background-repeat:no-repeat;">
                        <h3>Name: {{name}}</h3>
                        <p>Cause: {{cause}}</p>
                        <p>Size: {{size}}</p>
                </div>
                {{/each}}
                </div>
                        {{/if}}
                        <a class="btn btn-info" href="/squadform">Add Squad</a>
                </body>
                {{/partial}}

                {{> layout.hbs}}