{{#partial "content"}}
<br>
<div class="jumbotron" style="border-color: beige;">
{{ item }}

<p>"Nice!!A new hero <span>{{ item }}</span>has been assigned to your squad!"</p>
        <a class="btn btn-info" href="/hero">Check hero</a>
        </div>
        {{/partial}}
        {{> layout.hbs}}
