{{#partial "content"}}
<br>
<div class="jumbotron" style="background-color: blanchedalmond;">
<p>Congratulations! You have successfully created a squad"</p></strong>
<br>
        <a class="btn btn-info" href="/squad">Check Squad</a>
        </div>
        {{/partial}}
        {{> layout.hbs}}
